@font-face {
  font-family: 'dana light';
  font-style: normal;
  font-weight: normal;
  src: local('/dana light'), url('dana light.woff') format('woff');
  }
@font-face {
  font-family: 'dana regular';
  font-style: normal;
  font-weight: normal;
  src: local('/dana regular'), url('dana regular.woff') format('woff');
  }
@font-face {
  font-family: 'dana demibold';
  font-style: normal;
  font-weight: normal;
  src: local('dana demibold'), url('dana demibold.woff') format('woff');
  }

@font-face {
font-family: 'dana medium';
font-style: normal;
font-weight: normal;
src: local('/dana medium'), url('dana medium.woff') format('woff');
}

@font-face {
  font-family: 'dana black';
  font-style: normal;
  font-weight: normal;
  src: local('/dana black'), url('dana black.woff') format('woff');
  }
*{
  font-family: 'dana light';
  letter-spacing: 1px;
  margin: 0px;
  box-sizing: border-box;

}
body{
  padding: 0px;
  margin: 0px;
  background-color: rgb(238, 245, 242);
}


#root {
  --custom-color__black: #202122;
  --custom-color__blue: #00afff;
  --custom-color__green: #08dd81;
  --custom-color__blue--dark: rgb(62, 78, 92);

  text-align: center;
  color-scheme: light;
  font-weight: 400;
}

.lightText{
  color: rgb(189, 202, 197) !important;
}

.light{background-color: var(--custom-color__white);}
.dark{background-color: var(--custom-color__blue--dark);}
.gradient{background-image: linear-gradient(to top right, var(--custom-color__blue), var(--custom-color__green));}
.fluent{
  box-shadow: 0px 0px 5px 5px var(--custom-color__green);
}
.green{
  background-color: var(--custom-color__green);
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}


nav{
  height: 100%;
  height: 4rem;
  max-height: 40px;
  padding: 0rem 1rem;
  background-color: rgb(238, 245, 242);
}
.anchors{
  color: var(--custom-color__blue--dark) !important;
}
.logo{
  margin-left: auto;
}
.ant-dropdown-menu{
  background-color: rgb(238, 245, 242) !important;
}
.profil{
  position: absolute;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  width: 5rem;
  height: 5rem;
  background-color: black;
}

.background{
  width: 100vw;
  margin-top: 1rem;
}

.info{
  width: 100vw;
  height: 5rem;
  background-color: #202122;
  position: absolute;
  bottom: 20px;
}

.icon{
  width: 1.2rem;
}

.header-presentation{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 4rem; 
  color: var(--custom-color__blue--dark);
  padding-bottom: 1rem;
}

.header-presentation__name,  .header-presentation__name span{
  font-size: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-family: 'dana demibold', sans-serif;
}

.header-presentation__name-before{
  font-size: 1rem;
  height: 1rem;
  font-family: 'dana demibold', sans-serif;
}
.header-presentation__name-after{
  font-size: 2rem;
  letter-spacing: 0.9rem;
  height: 2.5rem;
}

.ant-card-body{
  height: 20vh;
  width: 46vw;
  padding: 1rem !important;
}

summary{
  padding: 1rem;
  margin-bottom: 50px;
}

h1 span{
  font-family: 'dana demibold', sans-serif;
  font-weight: 100;
}

.skills{
  box-sizing: border-box;
  width: 100vw;
  margin-bottom: 80px;
  padding: 1rem 2rem;
}

.skills h4{
  width: min-content !important;
  font-family: 'dana light', sans-serif;
  font-weight: 100;
}
.skills h3{
  font-family: 'dana light', sans-serif;
  font-weight: 400;
}

.ant-list-header{
  margin-bottom: 15px;
}

.ant-list-item{
  height: min-content !important;
}

.ant-list-item-meta{
  align-items: center !important;
}

.swiper{
  width: 300px;
  height: auto;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.swiper-slide{
  border-radius: 1rem 1rem;
  background-color: rgb(238, 245, 242);
}

.projects .ant-card-body{
  width: 100%;
}


.contact{
  background-color: #202122;
  color: #fff;
  padding: 2rem;
}

.projects .ant-card-meta-title{
  color: #202122;
  text-align: left;
}

.projects .ant-card-meta-description{
  text-align: justify;
  line-break: auto;
  hyphens: auto;
  color: #202122;
}


ant-image-mask{
  border-radius: 1rem 1rem;
}

.slick-dots li {
  background-color: #fff !important;
}

.slick-dots .slick-active button{
  background-color: #08dd81 !important;
}

.contact{
  background-color: #202122;
  color: #fff;
  padding: 2rem;
}

.projects .ant-card-meta-title{
  color: #202122;
  text-align: left;
}

.projects .ant-card-meta-description{
  text-align: justify;
  line-break: auto;
  hyphens: auto;
}

.slick-slider{
  border-radius: 1rem 1rem !important;
  overflow: hidden;
  height: 220px !important;
}

.slick-slider img{
  height: 250px !important;
  width: 100% !important;
}

em{
  text-decoration: dotted underline;
}