@font-face {
  font-family: 'dana light';
  font-style: normal;
  font-weight: normal;
  src: local('/dana light') format('woff');
  }
@font-face {
  font-family: 'dana regular';
  font-style: normal;
  font-weight: normal;
  src: local('/dana regular') format('woff');
  }
@font-face {
  font-family: 'dana demibold';
  font-style: normal;
  font-weight: normal;
  src: local('dana demibold')  format('woff');
  }

@font-face {
font-family: 'dana medium';
font-style: normal;
font-weight: normal;
src: local('/dana medium') format('woff');
}

@font-face {
  font-family: 'dana black';
  font-style: normal;
  font-weight: normal;
  src: local('/dana black') format('woff');
  }
*{
  font-family: 'dana light', sans-serif;
  letter-spacing: 1px;
  margin: 0px;
  box-sizing: border-box;
}

.header-presentation{
  @media screen and (min-width: 800px) {
    align-items: flex-start;
    flex-wrap: wrap;
    height: 40vh;
  }
}

body{
  padding: 0px;
  margin: 0px;
  background-color: rgb(238, 245, 242);
}


#root {
  --custom-color__black: #202122;
  --custom-color__blue: #00afff;
  --custom-color__green: #08dd81;
  --custom-color__blue--dark: rgb(62, 78, 92);

  min-width: 350px;
  text-align: center;
  color-scheme: light;
  font-weight: 400;
  width: 100vw;
  overflow: hidden;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.lightText{
  color: rgb(189, 202, 197) !important;
}

.light{background-color: var(--custom-color__white);}
.dark{background-color: var(--custom-color__blue--dark);}
.gradient{background-image: linear-gradient(to top right, var(--custom-color__blue), var(--custom-color__green));}
.fluent{
  box-shadow: 0px 0px 5px 5px var(--custom-color__green);
}
.green{
  background-color: var(--custom-color__green);
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}


nav{
  height: 100%;
  height: 4rem;
  max-height: 60px;
  padding: 1rem 2rem;
  background-color: rgb(238, 245, 242);
}
.anchors{
  color: var(--custom-color__blue--dark) !important;
}
.logo{
  margin-left: auto;
}
.ant-dropdown-menu{
  background-color: rgb(238, 245, 242) !important;
}

.background{
  width: 100vw;
  margin-top: 1rem;
  @media screen and (min-width: 800px) {
    height: 40vh;
    width: auto;
    margin-left: auto;
  }
}

.info{
  width: 100%;
  height: 7rem;
  background-color: #202122;
  margin-bottom: 50px;
  padding: 1rem;
}

.icon{
  width: 1.2rem;
  @media screen and (min-width: 700px) {
    width: 3rem;
  }
}

.header-presentation{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 4rem; 
  color: var(--custom-color__blue--dark);
  padding-bottom: 1rem;
}

.header-presentation__name,  .header-presentation__name span{
  font-size: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-family: 'dana demibold', sans-serif;
  @media screen and (min-width: 700px) {
    font-size: 3.5rem;
    height: 3.5rem;
  }
}

.header-presentation__name-before{
  font-size: 1rem;
  height: 1rem;
  font-family: 'dana demibold', sans-serif;
  @media screen and (min-width: 700px) {
    font-size: 2.5rem;
    height: 2.5rem;
  }
}
.header-presentation__name-after{
  font-size: 2rem;
  letter-spacing: 0.9rem;
  height: 2.5rem;
  @media screen and (min-width: 700px) {
    font-size: 3rem;
    height: 3.5rem;
  }
}

.services .ant-card-body{
  height: 25vh;
  width: 45vw;
  max-width: 250px;
  padding: 1rem !important;
  overflow-y: auto;
}




.service__heading{
  @media screen and (min-width: 800px) {
    font-size: 1.6rem !important;
  }
}


.sectionHeading{
  @media screen and (min-width: 700px) {
    font-size: 2rem;
    height: 2rem;
  }
  font-family: 'dana demibold', sans-serif !important;
}

.paragraph{
  font-size: 1rem !important;
  @media screen and (min-width: 700px) {
    font-size: 1.2rem !important;
    height: 1.2rem;
  }
}

summary{
  padding: 1rem;
  margin-bottom: 50px;
  @media screen and (min-width: 800px) {
    padding: 1rem 3rem;
  }
}

h1 span{
  font-family: 'dana demibold', sans-serif;
  font-weight: 600;
}

.skills{
  box-sizing: border-box;
  width: 100vw;
  max-width: 800px;
  margin-bottom: 80px;
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
}

.sectionHeading{
  @media screen and (min-width: 800px) {
    font-size: 2.5rem !important;
    margin-bottom: 50px !important;
  }
}

.skills h4{
  width: min-content !important;
  font-family: 'dana light', sans-serif;
  font-weight: 100;
}
.skills h3{
  font-family: 'dana light', sans-serif;
  font-weight: 400;
  @media screen and (min-width: 800px) {
    font-size: 1.5rem;
  }
}

.ant-list-header{
  margin-bottom: 15px;
}

.ant-list-item{
  height: min-content !important;
}

.ant-list-item-meta{
  align-items: center !important;
}

.swiper{
  width: 85vw;
  max-width: 500px;
  height: auto;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.swiper-slide{
  border-radius: 1rem 1rem;
  background-color: rgb(238, 245, 242);
}


.projects .ant-card-body{
  width: 100%;
}


.contact{
  background-color: #202122;
  color: #fff;
  padding: 2rem;
  position: relative;
}

.projects .ant-card-meta-title{
  color: #202122;
  text-align: left;
  @media screen and (min-width: 800px) {
    font-size: 1.5rem;
  }
}

.projects .ant-card-meta-description{
  text-align: justify;
  line-break: auto;
  hyphens: auto;
  color: #202122;
  height: 20vh;
  @media screen and (min-width: 800px) {
    font-size: 1.1rem;
  }
}


ant-image-mask{
  border-radius: 1rem 1rem;
}

.slick-dots li {
  background-color: #fff !important;
}

.slick-dots .slick-active button{
  background-color: #08dd81 !important;
}

.contact{
  background-color: #202122;
  color: #fff;
  padding: 2rem;
}

.projects .ant-card-meta-title{
  color: #202122;
  text-align: left;
}

.projects .ant-card-meta-description{
  text-align: justify;
  line-break: auto;
  hyphens: auto;
}

.slick-slider{
  border-radius: 1rem 1rem !important;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 600px;
}


em{
  text-decoration: dotted underline;
}

.profil{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  right: 50px;
  bottom: 50px;

  border: 5px solid #08dd81;

}

.profil img{
  object-fit: cover;
  aspect-ratio: 2/3;
  width: 100%;
}